<%= paginate @memos %>
<div class="main">
  <% @memos.each do |memo| %>
    <% if current_user.id == memo.user_id %>
      <div class="py-3">
        <div class="container">
          <div class="row-cols-md-3">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="40" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#efffe0"/>
              <text x="50%" y="50%" dy=".3em">
                <%= link_to memo.title_history, edit_memo_path(memo.id) %>
              </text>
            </svg>
            <%# <span class='star-check' id="star-check">！！</span> %>
            <div class="card-body">
              <div class="btn-group">
                <%= link_to edit_memo_path(memo.id) do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <%= "詳細/編集" %>
                  </button>
                <% end %>
                <%= link_to memo_path(memo.id), method: :delete, data: {confirm: "削除しますか？"} do %>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <%= "内容の削除" %>
                  </button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>