<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
    
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<div class= "user-name">
  <span>
    ユーザー名 : <%= current_user.nickname %>
  </span>
</div>
<%= form_with(url: search_memos_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
  <%= form.submit "検索", class: "form__btn" %>
<% end %>

<% if @memos.count != 0 %>
  <%= link_to "トップページに戻る", root_path, class: :form__btn  %>
  <%= render partial: "memo" %>
<% else %>
  <%= link_to "検索結果はありません", root_path, class: :form__btn  %>
<% end %>